<%= flash[:success] %>
<h1>Welcome to The Gipherator</h1>
<%= link_to "Create Account", new_user_path unless current_user %>
<%= link_to "Login", login_path unless current_user %>

<h3>All Gifs</h3>
<h3> <%= link_to "View my Gifs", user_path(current_user.id) if current_user %> </h3>
<%= flash[:error] %>

<% @gifs.each do |gif| %>
<%= form_for(gif) do |f| %>
    <div>
      <%= "#{gif.name}" %>
      <img src="<%= gif.image_path %>" alt="This will display an animated GIF" />

      <%= f.submit "Add #{gif.name} to Favorites" %>
    </div>
  <% end %>
  <%= link_to "Edit #{gif.name}", edit_admin_gif_path(gif) if current_admin? %>
  <%= link_to "Delete #{gif.name}", admin_gif_path(gif), method: :delete if current_admin? %>
<% end %>
