<h1><%= "#{@user.username} Gifs" if current_user %></h1>

<% @user.gifs.each do |gif| %>
  <p>
    <%= gif.name %>
    <img src="<%= gif.image_path %>"/>
  </p>
<% end %>

<%= link_to "Create Category", new_admin_category_path if current_admin? %>
<%= flash[:success] %>
<%= link_to "Add New Gifs", admin_gifs_path if current_admin? %>

<%= link_to "Back to Home", root_path %>
