

<%= form_for(@gif, url: admin_gifs_path) do |f| %>
<%= f.label :category %>
<%= f.text_field :category %>
<%= f.submit %>
<% end %>


<% @trending.each do |gif| %>

  <img src="<%= gif %>" alt="This will display an animated GIF" />
  <h5>Trending right now!</h5>

<% end %>
