<!DOCTYPE html>
<html>
<head>
  <title>Gipherator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h2><%= "Welcome Admin" if current_admin? %></h2>

<h3> <% if current_user %> <%= "Welcome, #{current_user.username}" %>
  <h4><%= link_to "Logout", logout_path, method: :delete %></h4>
<% end %> </h3>
<%= yield %>
</body>
</html>
